.button-wr{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: cornflowerblue;
    color: azure;
    flex: 1;

    margin: 4px;
    border-radius: 25px;
}