body {
  background-color: #282c34;
  color: azure;
   
}

.App {
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.calcy_Body{
  margin-top: 50px;
  background-color:rgb(195, 228, 233);
  width: 400px;
  border-radius: 16px;
}

.row{
  width: 400px;
  margin-left: 0px;
}

